@model TecnoHelp.Models.Usuario

@{
    // Remove o título da aba do navegador para que ele use o título da página de origem
    ViewData["Title"] = "Excluir Usuário";

    // Opcional: Para uma Partial View, é comum não usar o Layout
    // Layout = null;
}
<h1>@ViewData["Title"]</h1>

<h3>Você tem certeza que deseja excluir este usuário?</h3>
<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Nome)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>