@{
    ViewData["Title"] = "Sobre o TecnoHelp";
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>

    <p class="lead text-muted mt-4">
        O TecnoHelp é um sistema integrado desenvolvido como parte do Projeto Integrado Multidisciplinar (PIM)
        para o curso de Análise e Desenvolvimento de Sistemas.
    </p>
    <br />
    <br />
    <br />
    <p>
        Seu objetivo é otimizar a gestão de chamados e suporte técnico em ambientes corporativos,
        facilitando o registro, acompanhamento e resolução de solicitações técnicas de forma organizada e eficiente.
    </p>
    <p>
        Desenvolvido por <span>Tecno</span>Help.
    </p>
    <div class="redes-sociais">
        <ul class="list-redes-sociais">
            <a class="link-redes-sociais" href="#">
            <li class="item-redes-sociais">
                <i class="fab fa-whatsapp"></i>
            </li>
            </a>
            <a class="link-redes-sociais" href="#">
            <li class="item-redes-sociais">
                <i class="fab fa-instagram"></i>
            </li>
            </a>
            <a class="link-redes-sociais" href="#">
            <li class="item-redes-sociais">
                <i class="fab fa-linkedin-in"></i>
            </li>
            </a>
        </ul>
    </div>
</div>