@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao TecnoHelp</h1>
    <p>O seu sistema integrado para gestão de chamados e suporte técnico.</p>
</div>