@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao <span>Tecno</span>Help!</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <p class="lead text-muted mt-4">
            Utilize o menu acima para gerenciar chamados ou acessar outras áreas do sistema.
        </p>
        <div class="mt-4">
            <a class="btn btn-primary btn-lg " asp-controller="Chamados" asp-action="Create" style="width: auto; padding: 10px 30px;">Abrir Novo Chamado</a>
            <a class="btn btn-secondary btn-lg " asp-controller="Chamados" asp-action="Index" style="width: auto; padding: 10px 30px;">Ver Meus Chamados</a>
        </div>
    }
    else
    {
        <p class="lead text-muted mt-4">
            Seu sistema integrado para gestão de chamados e suporte técnico.
        </p>
        <p class="mt-4">
            Faça <a asp-controller="Account" asp-action="Login">login</a> para abrir ou acompanhar seus chamados.
        </p>
    }
</div>